/* Add your CSS styles here */
/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}



.container {
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 25px;
  font-family: Times New Roman;
  color: #333333;
}

label {
  margin-right: 10px;
  margin-bottom: 5px;
  color: #336666;
  font-family: Garamond, serif;
  font-weight: bold;
  font-size: 20px;
}

select {
  padding: 5px;
  margin-right: 10px;
}

/* Styling the dropdown box */
input#company {
  opacity: 0.7; 
  width: 200px; 
  height: 30px; 
  border-radius: 10px;
}

datalist#companyList {
  opacity: 0.7; 
  width: 200px;
  border-radius: 10px;
}

datalist#companyList option:checked {
  color: #007bff; /* Adjust font color for the selected option */
  font-weight: bold; /* Make the selected option bold */
}

.question p {
  color: #336666;
  font-family: Garamond, serif;
  font-weight: bold;
  font-size: 20px;
}

input[type="radio"] {
  margin-bottom: 30px; /* Adjust distance between radio buttons */
}

/* Changing font color of radio button labels */
input[type="radio"] + label {
  color: #333333;
  font-weight: lighter;
  font-size: 20px;
}

button {
  padding: 9px 18px;
  background-color: #669999;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px; /* Adding border-radius for rounded corners */
  font-size: 15px;
}

button:hover {
  background-color: #CCFFCC;
}

/* center and style the sentence above the input box for guest list */
.sentence-above-input {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #336666;
  font-family: Garamond, serif;
  font-weight: bold;
  font-size: 20px;
}

/* input box for guest name */
#guestName {
  display: block;
  margin: auto;
  width: 200px; 
  height: 30px; 
  border-radius: 10px;
  margin-bottom: 15px;
  opacity: 0.7; 
}


.message{
  margin-bottom: 15px;
  font-family: Times New Roman;
  color: #996633;
  font-style: italic;
  font-size: 18px;
}

.bold {
  font-weight: bold;
}

/* Countdown banner styles */
.countdown-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.6); /* Adjust the transparency here (0.6 for 60%) */
  color: #fff;
  padding: 10px 0;
  text-align: center;
  display: none;
}

#logo {
	width: 100px;
	height:
}

.error-message {
  color: red;
  font-style: italic;
  font-size: 13px;
  margin-top: 2px;
}

.seat {
	font-weight: bold;
	font-style: normal;
	color: #993366;
	font-size: 25px;
	font-family: Times New Roman;
}

/* Seat map image style */
.seatmap {
  max-width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.other-message {
  margin-bottom: 10px;
  color: grey;
  font-style: italic;
  font-size: 18px;
  font-family: Times New Roman;
}

img#parkingticket {
   width: 100%;
   height: auto;
}

.break-line{
  border: none; /* Remove default border */
  border-top: 2px solid #ccc; /* Apply a custom border */
  margin-top: 20px; /* Example margin */
}

.guest-ticket{
	background-color: #996633;
	padding: 10px;
	border-radius: 10px;
	font-weight: bold;
	font-style: normal;
	color: white;
	font-size: 25px;
	font-family: Times New Roman;
}
  
/* Media query for responsive design 在屏幕宽度小于像素时应用这些规则 */
@media screen and (max-width: 450px) {
  body {
    padding: 20px;
	font-size: 20px;
  }

  input#name,
  datalist#nameList {
    width: 100%;
  }

  button#findSeatBtn {
    width: 100%;
  }
  
  .container {
    width: 100%;
    max-width: 400px; /* Adjust max-width as needed */
    margin: 0 auto;
  }

  img#seatmap {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  


  
}
